row {
  display: block;
  border-bottom: 1px solid #cfcfcf;
  p {
    margin-bottom: 0;
  }

  .date {
    background: #9fcdff;
    color: #fff;
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 10px;
  }
}